/POI_UPV/nbproject/
!/POI_UPV/nbproject/project.properties
!/POI_UPV/nbproject/project.xml
/POI_UPV/build
# Ignorar la carpeta build del proyecto
POI_UPV/build/
*.classPOI_UPV/build/
*.class
/Proyecto_IPC/nbproject/private/
/Proyecto_IPC/build/

# ignore NetBeans build & private settings
Proyecto_IPC/build/
Proyecto_IPC/nbproject/private/
# ignore NetBeans / Ant build output
/build/
/Proyecto_IPC/build/
